[submodule "logwatch-svn"]
	path = logwatch-svn
	url = https://github.com/Lance0312/archlinux-logwatch-svn.git
[submodule "python2-cinderclient"]
	path = python2-cinderclient
	url = https://github.com/Lance0312/archlinux-python2-cinderclient.git
[submodule "nova"]
	path = nova
	url = https://github.com/Lance0312/archlinux-nova.git
[submodule "neutron"]
	path = neutron
	url = https://github.com/Lance0312/archlinux-neutron.git
[submodule "python2-neutronclient"]
	path = python2-neutronclient
	url = https://github.com/Lance0312/archlinux-python2-neutronclient.git
