[submodule "logwatch-svn"]
	path = logwatch-svn
	url = https://github.com/Lance0312/archlinux-logwatch-svn.git
[submodule "python2-cinderclient"]
	path = python2-cinderclient
	url = https://github.com/Lance0312/archlinux-python2-cinderclient.git
[submodule "nova"]
	path = nova
	url = https://github.com/Lance0312/archlinux-nova.git
[submodule "neutron"]
	path = neutron
	url = https://github.com/Lance0312/archlinux-neutron.git
[submodule "python2-neutronclient"]
	path = python2-neutronclient
	url = https://github.com/Lance0312/archlinux-python2-neutronclient.git
[submodule "keystone"]
	path = keystone
	url = https://github.com/Lance0312/archlinux-keystone.git
[submodule "python-oslosphinx"]
	path = python-oslosphinx
	url = https://github.com/Lance0312/archlinux-python-oslosphinx.git
[submodule "openvswitch"]
	path = openvswitch
	url = https://github.com/Lance0312/archlinux-openvswitch.git
[submodule "nodejs-yuglify"]
	path = nodejs-yuglify
	url = https://github.com/Lance0312/archlinux-nodejs-yuglify.git
[submodule "python2-heatclient"]
	path = python2-heatclient
	url = https://github.com/Lance0312/archlinux-python2-heatclient.git
[submodule "nginx-lua-postgres"]
	path = nginx-lua-postgres
	url = https://github.com/Lance0312/archlinux-nginx-lua-postgres.git
[submodule "python2-ceilometerclient"]
	path = python2-ceilometerclient
	url = https://github.com/Lance0312/archlinux-python2-ceilometerclient.git
[submodule "heat"]
	path = heat
	url = https://github.com/Lance0312/archlinux-heat.git
[submodule "nodejs-livescript"]
	path = nodejs-livescript
	url = https://github.com/Lance0312/archlinux-nodejs-livescript.git
[submodule "nodejs-irccloud-cli"]
	path = nodejs-irccloud-cli
	url = https://github.com/Lance0312/archlinux-nodejs-irccloud-cli.git
[submodule "ceilometer"]
	path = ceilometer
	url = https://github.com/Lance0312/archlinux-ceilometer.git
